USE [master]
GO
/****** Object:  Database [MembersDb]    Script Date: 3.12.2015. 14:17:48 ******/
CREATE DATABASE [MembersDb] 
GO

GO
USE [MembersDb]
GO

/****** Object:  Schema [programs_MemberUser]    Script Date: 3.12.2015. 14:17:50 ******/
CREATE SCHEMA [programs_MemberUser]
GO
/****** Object:  Table [dbo].[Device]    Script Date: 3.12.2015. 14:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Device](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceUUID] [nvarchar](100) NULL,
	[PushToken] [nvarchar](200) NULL,
	[DateCreated] [datetime] NULL,
	[DateModifed] [datetime] NULL,
	[DeviceName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Member]    Script Date: 3.12.2015. 14:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[MemberNo] [int] NULL,
	[FirstName] [nvarchar](150) NULL,
	[LastName] [nvarchar](150) NULL,
	[BirthDate] [datetime] NULL,
	[Street] [nvarchar](150) NULL,
	[City] [nvarchar](150) NULL,
	[PB] [nvarchar](15) NULL,
	[OIB] [nvarchar](50) NULL,
	[Email] [nvarchar](150) NULL,
	[Phone] [nvarchar](150) NULL,
	[Gender] [varchar](1) NOT NULL,
	[CreatedByUserId] [int] NULL,
	[ModifiedByUserId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Locked] [bit] NOT NULL,
	[Visible] [bit] NOT NULL,
	[Version] [int] NOT NULL,
	[Country] [nvarchar](150) NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MemberLog]    Script Date: 3.12.2015. 14:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberLog](
	[MemberLogId] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NULL,
	[LogDate] [datetime] NULL,
	[Accompany] [int] NULL,
	[AccompanyName] [nvarchar](150) NULL,
	[CreatedByUserId] [int] NULL,
	[ModifiedByUserId] [int] NULL,
	[Locked] [int] NOT NULL,
	[Visible] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_MemberLog] PRIMARY KEY CLUSTERED 
(
	[MemberLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Device] ON 

INSERT [dbo].[Device] ([DeviceId], [DeviceUUID], [PushToken], [DateCreated], [DateModifed], [DeviceName]) VALUES (13, N'4143db142af1963a', N'APA91bHAKd62xXswxGUizgwNYfXEhn7TEfvarPOQeAk4-Jj74PeJ_MzyZpcyWqQUIVh_PLk3AuM_QinWXrAtcCKSWXBvwf9e91jzXElc3yUzrGVaeDOnXdlmzKJylSQlW7ZHFBeWUeqY', CAST(0x0000A56300BC506C AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Device] OFF
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([MemberId], [MemberNo], [FirstName], [LastName], [BirthDate], [Street], [City], [PB], [OIB], [Email], [Phone], [Gender], [CreatedByUserId], [ModifiedByUserId], [CreatedDate], [ModifiedDate], [Locked], [Visible], [Version], [Country]) VALUES (1, 1, N'Alen', N'Salk', CAST(0x00009DEE00000000 AS DateTime), N'White Hague Blvd. 62 ', N'Albuquerque', N'85450', N'12698088055', N'lzvl.jakhjeu@mahhuzhr.iwmzg-.org', N'095/608-9817', N'm', 1, NULL, CAST(0x00007806014D8E41 AS DateTime), CAST(0x0000528D013CA976 AS DateTime), 0, 1, 1, N'Hrcatska')
INSERT [dbo].[Member] ([MemberId], [MemberNo], [FirstName], [LastName], [BirthDate], [Street], [City], [PB], [OIB], [Email], [Phone], [Gender], [CreatedByUserId], [ModifiedByUserId], [CreatedDate], [ModifiedDate], [Locked], [Visible], [Version], [Country]) VALUES (2, 2, N'Pedro1', N'Mac Donald', NULL, N'Milton Avenue 34 ', N'Newark', N'37688', N'26603286713', N'ybbm.rzprtf@cnv-mt.com', N'091/830-8636', N'f', 1, NULL, CAST(0x00009351017F9D24 AS DateTime), CAST(0x00005BE00157F902 AS DateTime), 0, 1, 1, NULL)
INSERT [dbo].[Member] ([MemberId], [MemberNo], [FirstName], [LastName], [BirthDate], [Street], [City], [PB], [OIB], [Email], [Phone], [Gender], [CreatedByUserId], [ModifiedByUserId], [CreatedDate], [ModifiedDate], [Locked], [Visible], [Version], [Country]) VALUES (3, 3, N'Charity', N'Mahoney', CAST(0x0000987C00000000 AS DateTime), N'New Parkway 279 ', N'Dayton', N'79067', N'70874605970', N'zdipcx.tkzjftgu@pgdgol.com', N'09|/403-7120', N'm', 1, NULL, CAST(0x0000716F00F0A6E6 AS DateTime), CAST(0x000059D100474813 AS DateTime), 0, 1, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Member] OFF
/****** Object:  Index [IX_FK_MemberLog_Member]    Script Date: 3.12.2015. 14:17:50 ******/
CREATE NONCLUSTERED INDEX [IX_FK_MemberLog_Member] ON [dbo].[MemberLog]
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MemberLog]  WITH CHECK ADD  CONSTRAINT [FK_MemberLog_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberId])
GO
ALTER TABLE [dbo].[MemberLog] CHECK CONSTRAINT [FK_MemberLog_Member]
GO
USE [master]
GO
